.input-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.input-label {
    display: flex;
    gap: 5px;
}

.input-label label {
    font-size: 24px;
    font-style: italic;
    color: #0000005e;
}

.info-section {
    display: flex;
}

.input-section img {
    width: 18px;
    height: 18px;
    color: black;
}

.input-container input {
    height: 60px;
    width: 650px;
    font-size: 20px;
    border-radius: 6px;
    padding-left: 25px;
    filter: brightness(95%);
    border: 1px solid rgba(128, 128, 128, 0.266);
    transition: all 0.5s ease;
}

.input-container input:hover {
    /* transform: scale(1.05); */
    filter: brightness(100%);
    /* opacity: 80%; */
}

.checkbox-input {
    display: flex;
    flex-direction: column;
}

.checkbox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.checkbox-item label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1rem;
    width: 300px;
}

.checkbox-item input {
    width: 24px;
    margin: 0;
    background-color: green;
    color: greenyellow;
}

.checkbox-item span {
    font-size: 22px;
    display: flex;
}

.range-input {
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 1rem;

}

.mapping-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(36, 41, 46, 0);
    border-radius: 6px;
    padding: 0px 10px;
    gap: 1rem;
}

.mapping-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.add-mapping-button {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.644);
}

.add-mapping-button:hover {
    background-color: rgba(128, 128, 128, 0.294);
    opacity: 80%;
}

.mapping-content {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.mapping-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 15px;
    justify-content: space-between;
}

.mapping-input {
    display: flex;
    gap: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.mapping-input input {
    height: 32px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serifs;
    color: rgba(128, 128, 128, 0.733);
    width: 250px;
    padding: 5px 20px;
    border: 1px solid grey;
    border-radius: 3px;
}

.color-tooltip {
    display: flex;
    overflow: visible;
}

.color-input {
    background-color: white;
    border: none;
    padding: 5px;
}

.color-input span {
    color: blue;
}

.color-input:hover {
    background-color: rgba(128, 128, 128, 0.566);
}

.remove-button {
    background-color: white;
    border: none;
    transition: all 0.5s ease;
}

.remove-button:hover {
    transform: scale(1.2);
}

.remove-button img {
    width: 26px;
    height: auto;
}

.tooltip {
    position: absolute;
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    display: none;
    pointer-events: none;
    z-index: 10;
    top: 0;
    width: fit-content;
}

.info-section:hover .tooltip {
    display: block;
}

.tooltip p {
    margin: 5px 0;
    font-size: 1em;
    color: #55555577;
}

.select-input {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 250px; 
    padding: 10px 20px;
    border-radius: 4px;      /* Rounded corners */
    background-color: #fff; 
    border: 1px solid #ddd;  /* Customize border */
}

.select-input select{
    font-size: 26px;     
    color: #333;
    background-color: white;
    border: none;
    opacity: 80%;
    appearance: none;        /* Remove default styling */
    -webkit-appearance: none;/* Remove default styling for Safari */
    -moz-appearance: none;   /* Remove default styling for Firefox */
    cursor: pointer;
}

.select-input select option {
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 250px; 
}