.home-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100vh;
  }
  
.home-content {
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  box-sizing: border-box;
  gap: 20px;
  min-height: 100%;
  }

.content-header {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
}
  
.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  align-content: center;
}


.section-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center; 
}

.section-title span {
  font-size: 50px;
}