.navbar {
    min-width: 400px;
    width: 100%;
    height: 100%;
    background-color: #2c2d5000;
    color: white;
    box-sizing: border-box;
    opacity: 80%;
  }


.navbar-header {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
}

.navbar-header h2 {
  color: #333;
  font-size: 28px;
  font-style: italic;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar-item {
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  align-items: center;
  transition: all 0.7s ease;
  filter: brightness(80%);
  margin: auto;
}

.navbar-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar-item span {
  font-style: italic;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.554);
}

.navbar-item:hover {
  background-color: rgba(240, 248, 255, 0.631);
  opacity: 50%;
}