.processor-details {
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
  }

.processor-details h1 {
  margin-bottom: 40px;
  padding: 10px;
}   

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  height: calc(100vh - 650px);
  justify-content: center;
  border: 1px solid #f8f9fa;
  padding: 20px;
}
  
.processor-command-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  padding: 10px;
  margin-right: 20px;
}


.command {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.392);
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(230, 240, 255, 0.887);
  min-width: 100px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.command:hover {
  transform: scale(1.02);
  opacity: 50%;
}

.command span {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.631);
  opacity: 90%;
}